.Trash {
    &.over {
        background-color: #f99494;
    }
    margin: 0.5rem 0.3rem 0;
    background-color: #FFF;
    border-radius: 5px;
    height: 5rem;
    border: solid 1px;
    flex: 2 0 0;
    padding: 1rem;
    svg.fa-trash.svg-inline--fa {
        height: 100%;
        width: 100%;
    }
}