@import './Modal.scss';

.DeleteFunction {
    .modal-body {
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        p {
            margin: 0;
            span {
                font-weight: bold;
            }
        }
        .Pipe {
            height: 5rem;
            width: 5rem;
            -webkit-user-drag: none;
            -khtml-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
        }
    }
}