@import './Modal.scss';

.DisplayResult {
    &.no-graph {
        display: flex !important;
        .modal-dialog {
            min-width: 70vh;
            margin: auto;
            .modal-content {
                padding: 1rem;
            }
        }
    }
    .title {
        text-align: center;
    }
    .modal-dialog {
        max-width: 80%;
    }
    .modal-body {
        height: 90vh;
    }
    .info.result {
        resize: none;
    }
    .text-value {
        margin: 2rem;
        text-align: center;
    }
    .info.result{
        text-align: center;
    }
}