.DisplayResult {
    .modal-dialog {
        max-width: 80%;
    }
    .modal-body {
        height: 90vh;
    }
    .text-value {
        margin: 2rem;
        text-align: center;
    }
    .info.result{
        text-align: center;
    }
}