@import './Modal.scss';

.Export {
    .body {
        margin: 1.5rem;
        > .pipes {
            max-height: 20rem;
            > .pipe-button {
                padding: 0.2rem;
                height: 5rem;
                width: 5rem;
                margin: 0.3rem;
                border-radius: 10px;
                border-style: solid;
                background-color: white;
                .Pipe {
                    -webkit-user-drag: none;
                    -khtml-user-drag: none;
                    -moz-user-drag: none;
                    -o-user-drag: none;
                }
                &:focus {
                    outline: none;
                }
                &.select {
                    opacity: 100%;
                    background-color: skyblue;
                }
                opacity: 30%;
            }
        }
    }
    .name-export {
        margin-right: auto;
        input {
            text-align: end;
        }
    }
}