@import '../Common.scss';

.modal {
    .title {
        text-align: center;
    }
    .modal-header {
        background-color: $LightColor;
        > h5 {
            margin-bottom: 0px;
        }
    }
}