$UndefinedColor: black;
$NumberColor: #F99D07;
$FigureColor: #29BF12;
$ColorColor: #F9E104;
$PointColor: #F62DAE;
$BooleanColor: #724E91;
$GenericColor: gray;
$ListColor: pink;
$JoinInOutColor: tomato;

$ErrorPipeColor: #ff000061;
$WorkingPipeColor: #61f5bc4f;
$WarningPipeColor: #ffff004f;

.Pipe {
    &.error, &.error.warning, &.error.working {
        background-color: $ErrorPipeColor;
    }
    &.warning {
        background-color: $WarningPipeColor;
    }
    &.working {
        background-color: $WorkingPipeColor;
    }
    &.selected {
        .ValuePipe, .VarPipe {
            outline: -webkit-focus-ring-color auto 5px;
        }
    }
    svg {
        width: 100%;
    }
    .UNDEFINED {
        fill: $UndefinedColor;
    }
    .NUMBER {
        fill: $NumberColor
    }
    .FIGURE {
        fill: $FigureColor
    }
    .COLOR {
        fill: $ColorColor
    }
    .POINT {
        fill: $PointColor;
    }
    .BOOLEAN {
        fill: $BooleanColor;
    }
    .GENERIC {
        fill: $GenericColor;
    }
    .LIST .border {
        fill: $ListColor;
    }
    .join {
        fill: $JoinInOutColor!important;
        .border {
            fill: $JoinInOutColor;
        }
    }
    height: 100%;
    width: 100%;
    .tooltip {
        p {
            margin-bottom: 0.2rem;
        }
    }
}

