.Pipe {
    &.error, &.error.warning, &.error.working {
        background-color: #ff000061;
    }
    &.warning {
        background-color: #ffff004f;
    }
    &.working {
        background-color: #61f5bc4f;
    }
    &.selected {
        .ValuePipe, .VarPipe {
            outline: -webkit-focus-ring-color auto 5px;
        }
    }
    svg {
        width: 100%;
    }
    .UNDEFINED {
        fill: black;
    }
    .NUMBER {
        fill: #F99D07;
    }
    .FIGURE {
        fill: #29BF12;
    }
    .COLOR {
        fill: #F9E104;
    }
    .POINT {
        fill:#F62DAE;
    }
    .BOOLEAN {
        fill: #724E91;
    }
    .GENERIC {
        fill: gray;
    }
    .LIST .border {
        fill: pink;
    }
    .join {
        fill: tomato!important;
        .border {
            fill: tomato;
        }
    }
    height: 100%;
    width: 100%;
    .tooltip {
        p {
            margin-bottom: 0.2rem;
        }
    }
}

