.Pipe {
    &.error, &.error.warning {
        background-color: #ff000061;
    }
    &.warning {
        background-color: #ffff004f;
    }
    &.working {
        background-color: #61f5bc4f;
    }
    svg {
        width: 100%;
    }
    .UNDEFINED {
        fill: black;
    }
    .NUMBER {
        fill: green;
    }
    .FIGURE {
        fill: blue;
    }
    .COLOR {
        fill: yellow;
    }
    .POINT {
        fill:orange;
    }
    .BOOLEAN {
        fill: purple;
    }
    .GENERIC {
        fill: gray;
    }
    .LIST .border {
        fill: pink;
    }
    height: 100%;
    width: 100%;
}