.ValPipe, .VarPipe {
    height:100%; 
    width:100%;
    position: relative;
    .form-control {
        position: absolute;
        height: 40%;
        top: 30%;
        &[type=number] {
            text-align: center;
        }
        &.point {
            display: flex;
            padding: 0;
            .number {
                min-width: 50%;
             
            }
        }
    }
}