.ValuePipe, .VarPipe {
    height:100%; 
    width:100%;
    position: relative;
    .value-input {
        position: absolute;
        height: 50%;
        top: 20%;
        left: -10%;
        z-index: 100;
        width: 120%;
        &[type=number] {
            text-align: center;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &.point {
            display: flex;
            padding: 0;
            .number {
                min-width: 50%;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                &[type=number] {
                    text-align: center;
                }
            }
        }
        &.color {
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            .color-options {
                position: absolute;
                background-color: rgba(255,255,255,0.6);
                border: solid 1px;
                border-radius: 3px;
                height: 160%;
                width: 160%;
                top: -30%;
                left: -30%;
                display: grid ;
                grid-template-columns:  auto  auto;
                grid-template-rows:  33%  33% 34%;
                .option {
                    margin: 10%;
                    border: solid 1px;
                    border-radius: 3px;
                    &.blue {
                        background-color: blue;
                    }
                    &.red {
                        background-color: red;
                    }
                    &.green {
                        background-color: green;
                    }
                    &.black {
                        background-color: black;
                    }
                }
                .more-colors {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    text-align: center;
                    background-color: gray; 
                    margin: 5%;
                    border: solid 1px;
                    border-radius: 3px;
                }
            }
            &.more {
                top: -2rem;
                left: -3rem;
                height: 5rem;
                width: 5rem;
            }
        }
    }
}
