.Actions {
    position: absolute;
    right: 2rem;
    top:  0.5rem;
    z-index: 200;
    .action-buttons {
        >.btn {
            border-radius: 2rem;
            width: 3rem;
            height: 3rem;
            box-shadow: -1px 3px 26px 0px rgba(0, 0, 0, 0.75);
            >svg {
                height: 100%;
                width: 100%;
            }
        }
    }
}