$CELL_SIZE: 4rem;
.Cell {
    border: 1px solid lightgray;
    width: $CELL_SIZE;
    height: $CELL_SIZE;
    &.over {
        background-color: #0080004f;
    }
}
.copy .Cell.over {
    cursor: copy;
}