.DisplayResult {
    margin: 1rem 0;
    border-color: #bbbbbb;
    border-radius: 5px;
    height: 7rem;
    .expand-button {
        border-radius: 5px;
        overflow: hidden;
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 2px;
        right: 5px;
        z-index: 100;
    }
    &.graph {
        height: 25rem;
        padding: 0.7rem 0 !important;
    }
    .line {
        margin: 0;
        display: flex;
        justify-content: space-between;
        .label {
            width: 4rem;
        }
        .value {
            flex: 1 0 0;
            margin: 0 1rem;
            border: solid 1px grey;
            text-align: center;
        }

    }
    .info.result {
        resize: none;
        width: -webkit-fill-available;
    }
    .text-value {
        margin: 2rem;
        text-align: center;
    }
    .info.result{
        text-align: center;
    }
}