$MainColor: #0496FF;
$MainColorHover: #047CD3;
$DarkColor: #004CA6;
$LightColor: #C2F1F2;
$DisabledColor: #D8D9D6;
$DisabledFont: #706C61;

.Main {
    height: 100vh;
    background-color: $DarkColor;
    overflow: hidden;
    .container {
        position: relative;
        max-width: none;
        .body {
            display: flex;
            height: 90vh;
            >.sidebar {
                background-color: white;
                width: 8rem;
                border: none;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                .trash {
                    margin: 0.3rem 0 0.3rem 0.3rem;
                    padding: 0.5rem;
                    text-align: center;
                }
            }
            >.content {
                background-color: white;
                flex: 3 0 0;
                overflow: hidden;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }
            >.info {
                background-color: white;
                border-radius: 15px;
                margin-left: 1rem;
                padding: 0.5rem;
                max-width: 30rem;
                height: 32rem;
                &.close {
                    width: 3.5rem;
                    opacity: 1;
                }
                &.open {
                    flex: 3 0 0;
                    min-width: 22rem;
                }
            }
        }
    }
    .actions {
        .actions-info {
            &.hidden{
                display: none;
            }
            margin-top: 0.2rem;
            padding: 0.3rem;
            border: solid 1px;
            border-radius: 10px;
            background-color: white;
            height: 85vh;
            overflow: scroll;
            p {
                margin-bottom: 0.5rem;
            }
            .info {
                width: 100%;
                padding: .375rem .75rem;
                border: 1px solid #ced4da;
                border-radius: .25rem;
                background-color: #e9ecef;
                min-height: 2.5rem;
                overflow-y: scroll;
                margin: 0.5rem 0;
                &.function {
                    height: 8rem;
                }
                &.file {
                    height: 14rem;
                }
            }
        }
    }
    .drop-zone {
        padding: 15%;
        background-color: rgb(197, 197, 197);
        border: dashed  grey;
        border-radius: 5px;
        svg {
            height: 100%;
            width: 100%;
        }
    }
}



.action-buttons{    
    margin-bottom: 10px;
    text-align: center;
}


.mf-button-primary, .mf-button-outline {
    border-radius: 16px;
    border-width: 1.5px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.mf-button-primary {
    background-color: $MainColor;
    color: white;
    border-color: transparent;
}

.mf-button-transparent, .mf-button-transparent:hover, .mf-button-transparent:focus, .mf-button-transparent:active {
    background-color: transparent;
    color: $DarkColor;
    border-color: transparent;
}

.mf-button-primary:hover {
    background-color: $MainColorHover;
    border-color: transparent;
}

.mf-button-primary:disabled {
    background-color: $DisabledColor;
    color: $DisabledFont;
    border-color: transparent;
}

.mf-button-outline {
    background-color: transparent;
    color: $MainColor;
    border-color: $MainColor;
}
.mf-button-outline:hover {
    background-color: $MainColor;
    border-color: transparent;
}

.panel {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    //box-shadow: 0 0 15px #ccc;
}

.sidebar {
    height: 100%;
    border-right-style: solid;
    border-color: #fdebb7;
}

.content {
    padding: 1rem;
    position: relative;
    padding-top: 2rem;
}

.board-container {
    height: 100%;
    max-width: 100%;
    overflow: scroll;    
}
.board-container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.board-container::-webkit-scrollbar:vertical {
    width: 11px;
}

.board-container::-webkit-scrollbar:horizontal {
    height: 11px;
}

.board-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.pipe-base {
    fill: #0B132B;
}

.test{
    fill: #F49F0A;
}