.SelectPipeInfo {
    .value-info {
       display: flex;
       justify-content: space-between;
       align-items: baseline;
       .label {
           width: 4rem;
       }
       .value {
           flex: 1 0 0;
           margin: 0 1rem;
           text-align: center;
       }
    }
}