.SelectPipeInfo {
    display: flex;
    justify-content: center;
    &.color {
        .modal-dialog {
            min-width: 0;
            .modal-content {
                padding: 0;
                .sketch-picker {
                    > div:nth-child(3) {
                        > div:first-child {
                            display: none;
                        }
                        > div {
                            padding-left: 0 !important;
                            padding-right: 0.2rem;
                            > div {
                            display: flex;
                            padding-bottom: 0.2rem;
                            span {
                                padding-left: 0.5rem;
                            }
                        }
                        }
                    }
                    input {
                        text-align: center;
                    }
                }
            }
        } 
    }
    .value-info {
       display: flex;
       justify-content: space-between;
       .label {
           width: 4rem;
       }
       .value {
           flex: 1 0 0;
           margin: 0 1rem;
           text-align: center;
       }
    }
}