.SelectPipeInfo {
    .ColorInput {
        display: flex;
        justify-content: center;
        .sketch-picker {
            > div:nth-child(3) {
                > div:first-child {
                    display: none;
                }
                > div {
                    padding-left: 0 !important;
                    padding-right: 0.2rem;
                    > div {
                    display: flex;
                    padding-bottom: 0.2rem;
                    flex-direction: row-reverse;
                    span {
                        padding: 0.2rem;
                    }
                }
                }
            }
            input {
                text-align: center;
            }
        }
    }
    .value-info {
       display: flex;
       justify-content: space-between;
       align-items: baseline;
       .label {
           width: 4rem;
       }
       .value {
           flex: 1 0 0;
           margin: 0 1rem;
           text-align: center;
       }
    }
}