.SpecificColorInput {
    .sketch-picker {
        position: relative;
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        padding-left: 3.5rem !important;
        > div:nth-child(3) {
            display: none !important;
        }
        input {
            text-align: center;
        }
        > div:nth-child(4) {
            position: absolute !important;
            top: 5px;
            left: 17px;
            width: 4rem;
            padding: 0 !important;
            height: 11rem;
            overflow: hidden;
            border: none !important;
        }
    }
  
}